
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}
body{
  
  font-family: "Inter", sans-serif;
}
:root {
  --bg-color-light: #eff0f1;
  --bg-color-dark: #18191b;
  --background-image-light: url('/src/images/magicpattern-starry-night-1726781255005.png');
  --background-image-dark: url('/src/images/magicpattern-starry-night-1726781065678.png');
  background-size: cover;
  background-position: center;
}

.theme-light {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  background-image: var(--background-image-light);
}

.theme-dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  background-image: var(--background-image-dark);
}

.wrapper2{
  color:#26374a;
}

.flow{
  margin-left: 25%;
}
@media (max-width:1024px) {
  .flow{
    margin-left: 0%;
  }
}

.globi{
  width:326px;
  height:326px;
}
@media (max-width:1024px) {
  .globi{
    width:306px !important;
    height:306px !important;
  }
}
@media (max-width:325px) {
  .globi{
    width:290px !important;
    height:290px !important;
  }
}
.ty{
  height: 150px;
}
.empty2{
  height: 110px;
}
.empty3{
  height: 60px;
}
.bb{
  color:#cfa0cd
}
.vv{
  font-weight: 800;
}
.login{
  background-image: linear-gradient(45deg rgb(126,156,190),rgb(194,208,224));
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

/* Base CSS Variables */
:root {
  --hover-color-light: #d6d9dc;
  --hover-color-dark: #5e666e;
  --hover-color-primary: #a0b6cf;
  --hover-color-secondary: #26374a;
}

/* Light Theme Specific */
.light-theme {
  --hover-color: var(--hover-color-light);
}

/* Dark Theme Specific */
.dark-theme {
  --hover-color: var(--hover-color-dark);
}

.sidebar-item {
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  margin-right: 5px;
}

.sidebar-item:hover {
  background-color: var(--hover-color);
}
.sidebar-item.active {
  background-color: var(--hover-color); /* Use the same color for active state */
}

.special{
  font-family: "Inter", sans-serif;
}

.menuItem{
  font-family: "Inter", sans-serif;
}
.high{
  border-top-left-radius: 5px;
  border-bottom-right-radius: 10px;
}
.high2{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
}
.drawerSearch{
transform: translateX(-50);
transition: all 0.3s ease;
}
.drawerSearchOpen{
  transform: translateX(10);
}
.usersSearch:hover{
border:1px solid #a0b6cf ;
}
.usersSearch{
  width:400px
}

@media (max-width:764px) {
  .usersSearch{
    width:280px !important
  }
}
.switch{
  color:#a0b6cf
}
.loginIcon {
  filter: drop-shadow(0 0 25px rgba(160, 182, 207, 0.75));
}


.glowWrapper {
  display: inline-block;
  padding:5px; /* Adjust padding if necessary */
  background-color: transparent;
/* To create a circular glow around the icon */
  box-shadow: 0 0 20px rgba(160, 182, 207, 0.8), 0 0 40px rgba(160, 182, 207, 0.6), 0 0 60px rgba(160, 182, 207, 1);
}

.glowWrapper:hover {
  box-shadow: 0 0 40px rgba(160, 182, 207, 1), 0 0 60px rgba(160, 182, 207, 1), 0 0 80px rgba(160, 182, 207, 1); /* Intensify the glow on hover */
}

